.card-title{
    font-size:1rem;
    height:120px;
    overflow:auto;
     border-bottom:5px solid lightgray; 

}
.card-title::-webkit-scrollbar{
    display:none;
}
.source{
    display:flex;
    justify-content:space-between;
}
.source p{
    font-size:1rem;
}
.card-text{
    height:200px;
    font-size:1.1rem;
}

@media only screen and (min-width:992px) and (max-width:1200px){
   .card-title{
    height:100px;
}
.card-text{
    height:130px;
}
}
@media only screen and (min-width:768px) and (max-width:991px){
   .card-title{
    height:90px;
}
.card-text{
    height:130px;
}
}

@media only screen and (min-width:576px) and (max-width:767px){
   .card-title{
    height:90px;
}
.card-text{
    height:120px;
}
}
@media only screen and (min-width:0px) and (max-width:576px){
   .card-title{
    height:50px;
}
.card-text{
    height:90px;
}
}



